@model IEnumerable<Payroll_system.Models.HoleriteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AtrasosEFaltas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBruto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioLiquido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxasDePagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpostoDeRenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasExtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdicionalNoturno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdicionalPericulosidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdicionalInsalubridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fgts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AtrasosEFaltas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioLiquido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxasDePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpostoDeRenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasExtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdicionalNoturno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdicionalPericulosidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdicionalInsalubridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fgts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorasTrabalhadas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HorasTrabalhadas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HorasTrabalhadas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
